# Dependencies
/node_modules

# Production Build
/build
/dist

# Testing
/coverage

# Environment Variables
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor & OS Files
.DS_Store
Thumbs.db
.vscode/
/.idea/
.vercel/